body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(165, 42, 143, 0.165),       transparent),
      radial-gradient(circle at 20% 80%, rgba(255, 0, 200, 0.096), transparent)
  }
  canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 0;
    pointer-events: none;
  }
  
  .bg-credit {
    position: fixed;
    bottom: 2vmin;
    right: 2vmin;
    color: rgba(255,255,255,0.2);
    text-decoration: none;
    z-index: 1;
    pointer-events: auto;
  }

  .bg-credit:hover {
    color: #ad1515;
  }